<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home-Meadowlark</title>
</head>
<body>
	<h1>home-Meadowlark</h1>
	<script>
		if(!document.cookie.length){
			window.location.href = 'http://localhost:3000/login';
		}
	</script>
</body>
</html>