<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= uname %></title>
</head>
<body>
	<p>姓名： <%= uname %></p>
	<p>地址： <%= address %></p>
	<p>个人简介： <%= info.bio %></p>
</body>
</html>